<% include ./partials/head %>
<% include ./partials/setup_firebase %>
<div id="setupComplete" class="row hidden">
    <div class="col s9">
        <div class="row">
            <div class="col-xs-12">
                <header><h1>Welcome to the Pixafy Shop</h1></header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Theme Enhancements 1</h3>
                  </div>
                  <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="...">
                      <a href="#" class="btn btn-default">Video Commerce</a>
                      <a href="#" class="btn btn-default">Full Screen Product Images</a>
                      <a href="#" class="btn btn-default">Product Quick View</a>
                      <a href="#" class="btn btn-default">Social Media Links</a>
                    </div>
                  </div>
                  <div class="panel-footer"><a class="btn btn-primary" href="/billing/Theme%20Enhancements%201/30.0">Add all for $30/month</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Sales Drivers</h3>
                  </div>
                  <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="...">
                      <a href="#" class="btn btn-success">Sales Driver 1</a>
                      <a href="#" class="btn btn-success">Sales Driver 2</a>
                      <a href="#" class="btn btn-success">Sales Driver 3</a>
                    </div>
                  </div>
                  <div class="panel-footer"><a class="btn btn-primary" href="/billing/Sales%20Drivers/50.0">Add all for $50/month</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Marketing Tools</h3>
                  </div>
                  <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="...">
                      <a href="#" class="btn btn-info">Marketing Tool 1</a>
                      <a href="#" class="btn btn-info">Marketing Tool 2</a>
                      <a href="#" class="btn btn-info">Marketing Tool 3</a>
                    </div>
                  </div>
                  <div class="panel-footer"><a class="btn btn-primary" href="/billing/Marketing%20Tools/100.0">Add all for $100/month</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Enterprise Support</h3>
                  </div>
                  <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="Enterprise Support Options">
                      <a href="/billing/Support10/1800.0" class="btn btn-warning">10 hours / month</a>
                      <a href="/billing/Support20/3600.0" class="btn btn-danger">20 hours / month</a>
                      <a href="/billing/Discovery/3000.0" class="btn btn-success">Business Goals Discovery</a>
                    </div>
                  </div>
                  <div class="panel-footer"><a class="btn btn-primary" href="#">Contact Us For More Details</a></div>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/sidebar_right %>
</div>
<% include ./partials/footer %>
            