<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> FB-SP </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            .shop-sidebar { top: 69px; }
            .update-data .glyphicon-refresh { pointer-events: none; }
        </style>
    </head>
    <body>
        <div id='app' class='container-fluid'>
            <div id="setupFirebase" class="row hidden">
                <div class="col-xs-12">
                    <h2>Setup Firebase</h2>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a class="btn btn-info" href="https://firebase.google.com/">Create a new Firebase Account or Project</a>
                        </div>
                        <div class="panel-body">
                            Then fill out the form below.
                        </div>
                    </div>
                    <form id="firebaseConfig">
                        <div class="formGroup">
                            <label for="apiKey">API Key</label>
                            <input type="text" name="apiKey" class="form-control" id="apiKey" placeholder="API Key">
                        </div>
                        <hr>
                        <div class="formGroup">
                            <label for="authDomain">Auth Domain</label>
                            <input type="text" name="authDomain" class="form-control" id="authDomain" placeholder="Auth Domain">
                        </div>
                        <hr>
                        <div class="formGroup">
                            <label for="databaseURL">Database URL</label>
                            <input type="text" name="databaseURL" class="form-control" id="databaseURL" placeholder="Database URL">
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
            <div id="setupComplete" class="row hidden">
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Welcome to the Pixafy Shop</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <h3 class="panel-title">Theme Enhancements 1</h3>
                              </div>
                              <div class="panel-body">
                                <div class="btn-group" role="group" aria-label="...">
                                  <a href="#" class="btn btn-default">Video Commerce</a>
                                  <a href="#" class="btn btn-default">Full Screen Product Images</a>
                                  <a href="#" class="btn btn-default">Product Quick View</a>
                                  <a href="#" class="btn btn-default">Social Media Links</a>
                                </div>
                              </div>
                              <div class="panel-footer"><a class="btn btn-primary" href="/billing/Theme%20Enhancements%201/30.0">Add all for $30/month</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <h3 class="panel-title">Sales Drivers</h3>
                              </div>
                              <div class="panel-body">
                                <div class="btn-group" role="group" aria-label="...">
                                  <a href="#" class="btn btn-success">Sales Driver 1</a>
                                  <a href="#" class="btn btn-success">Sales Driver 2</a>
                                  <a href="#" class="btn btn-success">Sales Driver 3</a>
                                </div>
                              </div>
                              <div class="panel-footer"><a class="btn btn-primary" href="/billing/Sales%20Drivers/50.0">Add all for $50/month</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <h3 class="panel-title">Marketing Tools</h3>
                              </div>
                              <div class="panel-body">
                                <div class="btn-group" role="group" aria-label="...">
                                  <a href="#" class="btn btn-info">Marketing Tool 1</a>
                                  <a href="#" class="btn btn-info">Marketing Tool 2</a>
                                  <a href="#" class="btn btn-info">Marketing Tool 3</a>
                                </div>
                              </div>
                              <div class="panel-footer"><a class="btn btn-primary" href="/billing/Sales%20Drivers/100.0">Add all for $100/month</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <h3 class="panel-title">Enterprise Support</h3>
                              </div>
                              <div class="panel-body">
                                <div class="btn-group" role="group" aria-label="Enterprise Support Options">
                                  <a href="/billing/Support10/1800.0" class="btn btn-warning">10 hours / month</a>
                                  <a href="/billing/Support20/3600.0" class="btn btn-danger">20 hours / month</a>
                                  <a href="/billing/Discovery/3000.0" class="btn btn-success">Business Goals Discovery</a>
                                </div>
                              </div>
                              <div class="panel-footer"><a class="btn btn-primary" href="#">Contact Us For More Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <nav class="shop-sidebar affix">
                        <ul class="nav nav-sidebar">
                            <li><h4>Welcome User</h4></li>
                            <li>
                                <h3>Your Products</h3>
                                <ul class="nav">
                                    <li><a href="/testing">Test Page</a></li>
                                    <li><a href="/video">Video Commerce</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script src='./build/client/all'></script>
    </body>
</html>