<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> FB-SP </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            .shop-sidebar { top: 69px; }
            .update-data .glyphicon-refresh { pointer-events: none; }
        </style>
    </head>
    <body>
        <div id='app' class='container-fluid'>
            <div id="setupComplete" class="row hidden">
                <div class="col-xs-9">
                    <h2>Video Commerce</h2>
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <p>Create a new Video</p>
                                <p><button class="btn btn-primary">Start</button></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Select a Collection</h3>
                                <form id="newCollection">
                                    <input name="collection_name_new" placeholder="Collection Name" />
                                    <button type="submit" class="btn btn-primary">Create New Collection</button>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h3>Create a new Collection</h3>
                                <select id="collectionName" name="form-control collection_name">
                                    <option value="null">Please select a collection</option>
                                </select>
                            </div>
                        </div>
                        <div class="row existing-producs">
                            <h2>Products</h2>
                            <ul id='dataDump'></ul>
                            <form id="addProduct">
                                <select id="allOtherProducts" name="form-control product_id">
                                    <option value="null">Select a product to add</option>
                                </select>
                                <input class="current-collection-id" type="hidden" name="collection_id" value="" />
                                <button type="submit" class="btn btn-primary">Add Product to Collection</button>
                            </form>
                            <hr>
                            <form id="newProduct">
                                <input name="product_name" placeholder="Product Name" />
                                <input class="current-collection-id"  type="hidden" name="collection_id" value="" />
                                <button type="submit" class="btn btn-primary">Create New Product</button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <nav class="shop-sidebar affix">
                        <ul class="nav nav-sidebar">
                            <li><h4>Welcome User</h4></li>
                            <li>
                                <h3>Your Products</h3>
                                <ul class="nav">
                                    <li><a href="/">&laquo; Back</a></li>
                                    <li><a href="/testing">Test Page</a></li>
                                    <li><a href="/video">Video Commerce</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script src='./build/client/all'></script>
    </body>
</html>