<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> FB-SP </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            .shop-sidebar { top: 69px; }
            .update-data .glyphicon-refresh { pointer-events: none; }
            .dashed-wrapper { padding: 10px 0; border: 3px dashed #ccc; }
        </style>
    </head>
    <body>
        <div id='app' class='container-fluid'>
            <div id="setupComplete" class="row hidden">
                <div class="col-xs-9">
                    <h2>Video Commerce</h2>
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 dashed-wrapper">
                                <h4 class="text-center">Create a new Video Feature</h4>
                                <p class="text-center"><button class="btn btn-primary">Begin</button></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Select a Collection</h4>
                                <select id="collectionName" class="form-control" name="collection_name">
                                    <option value="null">Please select a collection</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <h4>Create a new Collection</h4>
                                <form id="newCollection">
                                    <div class="input-group">
                                        <input name="collection_name_new" placeholder="Collection Name" class="form-control" />
                                        <span class="input-group-btn"><button type="submit" class="btn btn-primary">Create</button></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row existing-producs">
                            <div class="col-sm-6">
                                <h4>Products</h4>
                                <ul id='dataDump'></ul>
                                <form id="newProduct">
                                    <input class="current-collection-id" type="hidden" name="collection_id" value="" />
                                    <div class="input-group">
                                        <input name="product_name" placeholder="Product Name" class="form-control" />
                                        <span class="input-group-btn"><button type="submit" class="btn btn-primary">Create New Product</button></span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h4>Add Product to Collection</h4>
                                <form id="addProduct">
                                    <input class="current-collection-id" type="hidden" name="collection_id" value="" />
                                    <div class="input-group">
                                        <select id="allOtherProducts" class="form-control" name="product_id">
                                            <option value="null">Select a product to add</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <nav class="shop-sidebar affix">
                        <ul class="nav nav-sidebar">
                            <li><h4>Welcome User</h4></li>
                            <li>
                                <h3>Your Products</h3>
                                <ul class="nav">
                                    <li><a href="/">&laquo; Back</a></li>
                                    <li><a href="/testing">Test Page</a></li>
                                    <li><a href="/video">Video Commerce</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script src='./build/client/all'></script>
    </body>
</html>