<div id="setupFirebase" class="row hidden">
    <div class="col-xs-12">
        <h2>Setup Firebase</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="btn btn-info" href="https://firebase.google.com/">Create a new Firebase Account or Project</a>
            </div>
            <div class="panel-body">
                Then fill out the form below.
            </div>
        </div>
        <form id="firebaseConfig">
            <div class="formGroup">
                <label for="apiKey">API Key</label>
                <input type="text" name="apiKey" class="form-control" id="apiKey" placeholder="API Key">
            </div>
            <hr>
            <div class="formGroup">
                <label for="authDomain">Auth Domain</label>
                <input type="text" name="authDomain" class="form-control" id="authDomain" placeholder="Auth Domain">
            </div>
            <hr>
            <div class="formGroup">
                <label for="databaseURL">Database URL</label>
                <input type="text" name="databaseURL" class="form-control" id="databaseURL" placeholder="Database URL">
            </div>
            <hr>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>