<div class="col-xs-3">
    <nav class="shop-sidebar affix">
        <ul class="nav nav-sidebar">
            <li><h4>Welcome User</h4></li>
            <li>
                <h3>Your Products</h3>
                <ul class="nav">
                    <% if(name && name !== 'index') { %>
                    <li><a href="/">&laquo; Back</a></li>
                    <% } %>
                    <li><a href="/testing">Test Page</a></li>
                    <li><a href="/video">Video Commerce</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>